--- 
const { profile } = Astro.props;
---
<section class="grid lg:grid-cols-2 gap-8 items-center">
  <div>
    <h1 class="text-5xl font-light tracking-wide text-slate-100 leading-tight">{profile.name}</h1>
    <h1 class="text-2xl font-light tracking-wide text-slate-100 leading-tight mt-5">{profile.title}</h1>
    <p class="mt-4 text-slate-300 max-w-prose">Ingeniero informático con {profile.experience} de experiencia. Especializado en Ciberseguridad, análisis de sistemas y desarrollo web.</p>
    <div class="mt-6 flex gap-3">
      <a href="/projects" class="px-3 py-1.5 text-sm rounded-md bg-primary-button hover:bg-primary-button-hover transition-all duration-200 text-white font-medium">Proyectos</a>
      <a href="/contact" class="px-3 py-1.5 text-sm rounded-md border border-slate-500 hover:border-primary hover:bg-slate-800/30 transition-all duration-200 font-medium">Contactar</a>
    </div>
  </div>
  <div class="p-6 rounded-2xl main-card">
    <div class="text-sm text-slate-400">Sobre mí</div>
    <h3 class="mt-2 font-semibold">{profile.title}</h3>
    <p class="mt-3 text-slate-300">País: {profile.country}</p>
    <p class="mt-3 text-slate-300">Años de experiencia: {profile.experience}</p>
    <p class="mt-3 text-slate-300">Especialidades: {profile.specialties.join(', ')}</p>   <p class="mt-3 text-slate-300"> 
    <p class="mt-3 text-slate-300">Conocimientos en desarrollo web, administración de sistemas Linux, scripting en Bash, programación en Python, gestión con Docker y bases de datos.
                                   Me especializo en ciberseguridad y hacking ético, con un enfoque en la protección de la información y la infraestructura crítica
    </p>
  </div>
</section>
